body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #FDF2DB;
    color: #4B2E27;
}
header {
    display: flex;
    align-items: center;      /* Vertically centers items */
    background-color: #FDF2DB;
    padding: 10px;
}
header img {
    max-width: 180px;
    margin-right: 100px;       /* Space between logo and text */
}
header h1 {
    font-size: 60px;
    margin: 0.5rem 0 0.2rem;
}
header p {
    font-size: 30px;
    color: #f08080;
    margin: 0;
}
nav {
    background-color: #7FB1B9;
    padding: 0.5rem 0;
}
nav a {
    color: #4B2E27;
    text-decoration: none;
    margin: 0 1rem;
    font-weight: bold;
    padding-left: 50px;
}
section {
    padding: 3rem 2rem;
    max-width: 1100px;
    margin: auto;
}
section.alt {
    background-color: #FBE4D0;
}
h2 {
    color: #4B2E27;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
button.cta {
    background-color: #F8A08E;
    border: none;
    padding: 0.8rem 1.5rem;
    color: white;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
}
footer {
    text-align: center;
    padding: 1rem;
    background-color: #A7C9CF;
    font-size: 0.9rem;
}